Repository openstack/trove: changes, and which Zuul jobs are due for each by the changed paths.
All: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Path conditions:
  trove-functional-mysql: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-grenade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchdb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchbase-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-tox-fakemodetests: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-apiexamples: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$

Fix missing parameter in log message
  trove/guestagent/datastore/experimental/redis/manager.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add running trove in production guide
  doc/source/admin/datastore.rst
  doc/source/admin/index.rst
  doc/source/admin/run_trove_in_production.rst
Due: none

Check network conflict
  .zuul.yaml
  integration/scripts/trovestack
  trove/common/exception.py
  trove/common/neutron.py
  trove/instance/models.py
  trove/instance/service.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Config admin clients as default
  devstack/plugin.sh
  releasenotes/notes/ussuri-add-service-status-updated.yaml
  releasenotes/notes/ussuri-admin-clients-a14514a835ae11ea.yaml
  releasenotes/notes/ussuri-database-instance-healthy.yaml
  releasenotes/notes/ussuri-delete-datastoredad784e2345711ea.yaml
  releasenotes/notes/ussuri-service-credential-config.yaml
  trove/common/cfg.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add 'Quota Management' in production guide
  doc/source/admin/run_trove_in_production.rst
Due: none

Cleanup docs building
  api-ref/source/conf.py
  doc/source/conf.py
  doc/source/install/conf.py
  lower-constraints.txt
  setup.cfg
  test-requirements.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

[Community goal] Add contributor and PTL guide
  doc/source/contributor/contributing.rst
  doc/source/contributor/index.rst
Due: none

Small cleanups
  setup.cfg
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add python-troveclient in requirements.txt
  .zuul.yaml
  integration/scripts/files/elements/ubuntu-guest/extra-data.d/15-trove-dep
  integration/scripts/trovestack
  requirements.txt
  test-upper-constraints.txt
  tox.ini
  trove/common/limits.py
  trove/common/utils.py
  trove/db/__init__.py
  trove/flavor/models.py
  trove/guestagent/common/sql_query.py
  trove/guestagent/datastore/experimental/couchdb/service.py
  trove/guestagent/datastore/experimental/db2/service.py
  trove/guestagent/datastore/experimental/redis/system.py
  trove/instance/tasks.py
  trove/taskmanager/models.py
  trove/tests/examples/snippets.py
  trove/tests/fakes/guestagent.py
  trove/tests/unittests/api/common/test_limits.py
  trove/tests/unittests/backup/test_backup_models.py
  trove/tests/util/event_simulator.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support to test non-dev guest image in CI
  .zuul.yaml
  devstack/plugin.sh
  devstack/settings
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Delete error volumes when deleting instance
  trove/instance/models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Delete error volumes when deleting instance
  devstack/plugin.sh
  trove/instance/models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fixes the following syntax error of etc/apache2/trove apache conf
  etc/apache2/trove
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

Improve the doc
  doc/source/install/common_configure.txt
  doc/source/install/get_started.rst
  doc/source/install/index.rst
  doc/source/install/install-manual.rst
  doc/source/install/install-redhat.rst
  doc/source/install/install-suse.rst
  doc/source/install/install-ubuntu.rst
  doc/source/install/verify.rst
Due: none

Fix devstack installation guide
  doc/source/install/install-devstack.rst
Due: none

Fixes "a2ensite" command arg and adds mod_wsgi package installation
  doc/source/install/apache-mod-wsgi.rst
Due: none

Support XFS disk format
  trove/common/cfg.py
  trove/guestagent/volume.py
  trove/tests/unittests/guestagent/test_volume.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Release note for XFS disk format support
  releasenotes/notes/ussuri-support-xfs-disk-format.yaml
Due: none

Devstack should install the trove-dashboad module by default
  doc/source/install/install-devstack.rst
Due: none

Add innodb configuration parameters log_file_size and flush_method
  trove/templates/mariadb/validation-rules.json
  trove/templates/mysql/validation-rules.json
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update hacking for Python3
  lower-constraints.txt
  test-requirements.txt
  tox.ini
  trove/hacking/checks.py
  trove/tests/unittests/hacking/test_check.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Change @property usage to function
  trove/guestagent/datastore/experimental/cassandra/manager.py
  trove/guestagent/datastore/experimental/postgresql/manager.py
  trove/guestagent/datastore/experimental/redis/manager.py
  trove/guestagent/datastore/manager.py
  trove/guestagent/datastore/mysql_common/manager.py
  trove/tests/unittests/guestagent/test_manager.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Added checks for deleting datastore version
  releasenotes/notes/ussuri-fix-delete-datastore-version.yaml
  tools/trove-pylint.config
  trove/common/exception.py
  trove/configuration/models.py
  trove/db/sqlalchemy/migrate_repo/versions/043_instance_ds_version_nullable.py
  trove/db/sqlalchemy/migrate_repo/versions/044_remove_datastore_configuration_parameters_deleted.py
  trove/extensions/mgmt/configuration/service.py
  trove/extensions/mgmt/configuration/views.py
  trove/extensions/mgmt/datastores/service.py
  trove/extensions/mgmt/instances/models.py
  trove/instance/models.py
  trove/instance/views.py
  trove/taskmanager/models.py
  trove/tests/api/configurations.py
  trove/tests/api/datastores.py
  trove/tests/unittests/mgmt/test_datastore_controller.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update .gitreview for stable/ussuri
  .gitreview
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  .zuul.yaml
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support ip address type for instances
  api-ref/source/instances.inc
  api-ref/source/parameters.yaml
  api-ref/source/samples/instance-list-detail-response.json
  api-ref/source/samples/instance-mgmt-list-response.json
  api-ref/source/samples/instance-mgmt-show-response.json
  api-ref/source/samples/instance-show-response.json
  devstack/plugin.sh
  doc/source/user/set-up-clustering.rst
  etc/trove/trove.conf.sample
  etc/trove/trove.conf.test
  releasenotes/notes/ussuri-add-ip-addresses-for-instance.yaml
  trove/cluster/views.py
  trove/common/cfg.py
  trove/instance/models.py
  trove/instance/views.py
  trove/taskmanager/manager.py
  trove/taskmanager/models.py
  trove/tests/api/instances.py
  trove/tests/unittests/cluster/test_cluster_views.py
  trove/tests/unittests/instance/test_instance_models.py
  trove/tests/unittests/instance/test_instance_views.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Use unittest.mock instead of third party mock
  test-requirements.txt
  trove/tests/api/instances_resize.py
  trove/tests/api/mgmt/instances_actions.py
  trove/tests/unittests/api/common/test_extensions.py
  trove/tests/unittests/backup/test_backupagent.py
  trove/tests/unittests/cluster/test_mongodb_cluster.py
  trove/tests/unittests/common/test_conductor_serializer.py
  trove/tests/unittests/common/test_crypto_utils.py
  trove/tests/unittests/common/test_dbmodels.py
  trove/tests/unittests/common/test_serializer.py
  trove/tests/unittests/datastore/test_datastore_version_metadata.py
  trove/tests/unittests/guestagent/test_api.py
  trove/tests/unittests/guestagent/test_backups.py
  trove/tests/unittests/guestagent/test_couchbase_manager.py
  trove/tests/unittests/guestagent/test_galera_cluster_api.py
  trove/tests/unittests/hacking/test_check.py
  trove/tests/unittests/taskmanager/test_api.py
  trove/tests/unittests/taskmanager/test_models.py
  trove/tests/unittests/trove_testtools.py
  trove/tests/unittests/volume_type/test_volume_type.py
  trove/tests/unittests/volume_type/test_volume_type_views.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Remove volume-types API
  trove/common/api.py
  trove/volume_type/service.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Remove flavor API
  api-ref/source/samples/instance-create-response.json
  api-ref/source/samples/instance-list-detail-response.json
  api-ref/source/samples/instance-list-response.json
  api-ref/source/samples/instance-mgmt-list-response.json
  api-ref/source/samples/instance-mgmt-show-response.json
  api-ref/source/samples/instance-show-response.json
  doc/source/admin/secure_oslo_messaging.rst
  doc/source/user/backup-db-incremental.rst
  trove/cluster/views.py
  trove/common/api.py
  trove/flavor/service.py
  trove/instance/views.py
  trove/tests/api/instances.py
  trove/tests/api/instances_actions.py
  trove/tests/examples/__init__.py
  trove/tests/examples/client.py
  trove/tests/examples/snippets.py
  trove/tests/scenario/runners/test_runners.py
  trove/tests/unittests/cluster/test_cluster_views.py
  trove/tests/unittests/instance/test_instance_views.py
  trove/tests/util/client.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add troubleshooting guide
  doc/source/admin/index.rst
  doc/source/admin/troubleshooting.rst
Due: none

Add py38 package metadata
  setup.cfg
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi

Add command example for preparing datastore
  doc/source/admin/run_trove_in_production.rst
Due: none

Fix CI job
  .zuul.yaml
  integration/scripts/conf/test_begin.conf
  integration/scripts/files/elements/guest-agent/environment.d/99-reliable-apt-key-importing.bash
  integration/scripts/files/elements/ubuntu-guest/environment.d/99-reliable-apt-key-importing.bash
  integration/scripts/files/elements/ubuntu-guest/install.d/15-trove-dep
  integration/scripts/files/elements/ubuntu-guest/post-install.d/90-apt-get-update
  integration/scripts/files/elements/ubuntu-guest/pre-install.d/04-baseline-tools
  integration/scripts/files/elements/ubuntu-mysql/pre-install.d/10-percona-apt-key
  integration/scripts/files/elements/ubuntu-xenial-guest/install.d/22-decrease-networking-timeout
  trove/instance/views.py
  trove/limits/views.py
  trove/tests/api/limits.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix CI job
  .zuul.yaml
  devstack/settings
  integration/scripts/conf/test_begin.conf
  integration/scripts/files/elements/guest-agent/environment.d/99-reliable-apt-key-importing.bash
  integration/scripts/files/elements/guest-agent/source-repository-guest-agent
  integration/scripts/files/elements/ubuntu-guest/environment.d/99-reliable-apt-key-importing.bash
  integration/scripts/files/elements/ubuntu-guest/install.d/15-trove-dep
  integration/scripts/files/elements/ubuntu-guest/post-install.d/90-apt-get-update
  integration/scripts/files/elements/ubuntu-guest/pre-install.d/04-baseline-tools
  integration/scripts/files/elements/ubuntu-mysql/pre-install.d/10-percona-apt-key
  integration/scripts/files/elements/ubuntu-xenial-guest/install.d/22-decrease-networking-timeout
  integration/scripts/trovestack
  integration/scripts/trovestack.rc
  trove/instance/views.py
  trove/limits/views.py
  trove/tests/api/limits.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Cap jsonschema 3.2.0 as the minimal version
  lower-constraints.txt
  requirements.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples
