Repository openstack/trove: changes, and which Zuul jobs are due for each by the changed paths.
All: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Path conditions:
  trove-functional-mysql: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-grenade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchdb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchbase-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-tox-fakemodetests: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-apiexamples: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$

Update docs upgrade datastore
  doc/source/user/upgrade-cluster-datastore.rst
  doc/source/user/upgrade-datastore.rst
Due: none

Fix hacking min version to 3.0.1
  test-requirements.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

Remove translation sections from setup.cfg
  babel.cfg
  lower-constraints.txt
  requirements.txt
  setup.cfg
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Trove doc and CI
  .zuul.yaml
  doc/source/admin/database_module_usage.rst
  doc/source/admin/datastore.rst
  doc/source/admin/index.rst
  doc/source/admin/run_trove_in_production.rst
  doc/source/admin/troubleshooting.rst
  doc/source/user/backup-db-incremental.rst
  doc/source/user/backup-db.rst
  doc/source/user/manage-db-config.rst
  doc/source/user/set-up-replication.rst
  integration/scripts/trovestack
  releasenotes/notes/victoria-database-containerization.yaml
  trove/common/apischema.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix job publish-trove-guest-image-ubuntu-bionic-dev
  .zuul.yaml
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add doc for how to run functional test
  doc/source/contributor/functional_test.rst
  doc/source/contributor/index.rst
Due: none

Doc: update trove design
  doc/source/contributor/design.rst
Due: none

Support to generate config sample file
  doc/source/admin/run_trove_in_production.rst
  setup.cfg
  trove/common/cfg.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support to remove datastore config parameters
  releasenotes/notes/victoria-trove-manager-remove-config-params.yaml
  trove/cmd/manage.py
  trove/configuration/models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix CI
  integration/scripts/conf/test_begin.conf
  integration/scripts/files/elements/guest-agent/environment.d/99-reliable-apt-key-importing.bash
  integration/scripts/files/elements/ubuntu-guest/environment.d/99-reliable-apt-key-importing.bash
  integration/scripts/files/elements/ubuntu-guest/install.d/15-trove-dep
  integration/scripts/files/elements/ubuntu-guest/post-install.d/90-apt-get-update
  integration/scripts/files/elements/ubuntu-guest/pre-install.d/04-baseline-tools
  integration/scripts/files/elements/ubuntu-mysql/pre-install.d/10-percona-apt-key
  integration/scripts/trovestack
  trove/instance/views.py
  trove/limits/views.py
  trove/tests/api/limits.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Stop to use the __future__ module.
  integration/tests/integration/int_tests.py
  tools/install_venv.py
  tools/trove-pylint.py
  trove/common/base_wsgi.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Set status to ERROR if heartbeat expires
  .zuul.yaml
  doc/source/user/index.rst
  doc/source/user/upgrade-cluster-datastore.rst
  doc/source/user/upgrade-datastore.rst
  releasenotes/notes/victoria-expired-database-status.yaml
  tools/trove-pylint.config
  trove/common/strategies/cluster/experimental/mongodb/taskmanager.py
  trove/conductor/manager.py
  trove/guestagent/api.py
  trove/guestagent/datastore/manager.py
  trove/guestagent/datastore/mysql_common/manager.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/datastore/service.py
  trove/instance/models.py
  trove/instance/service_status.py
  trove/taskmanager/models.py
  trove/tests/api/instances_actions.py
  trove/tests/api/instances_resize.py
  trove/tests/api/mgmt/instances_actions.py
  trove/tests/fakes/guestagent.py
  trove/tests/fakes/nova.py
  trove/tests/unittests/conductor/test_methods.py
  trove/tests/unittests/instance/test_instance_models.py
  trove/tests/unittests/instance/test_instance_status.py
  trove/tests/unittests/mgmt/test_models.py
  trove/tests/unittests/taskmanager/test_clusters.py
  trove/tests/unittests/taskmanager/test_galera_clusters.py
  trove/tests/unittests/taskmanager/test_models.py
  trove/tests/unittests/taskmanager/test_vertica_clusters.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Switch to newer openstackdocstheme and reno versions
  api-ref/source/conf.py
  doc/source/conf.py
  lower-constraints.txt
  releasenotes/source/conf.py
  test-requirements.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

Support subnet and IP for instance creation
  api-ref/source/parameters.yaml
  releasenotes/notes/victoria-support-subnet-and-ip-address.yaml
  trove/common/apischema.py
  trove/common/cfg.py
  trove/common/clients_admin.py
  trove/common/exception.py
  trove/common/neutron.py
  trove/instance/models.py
  trove/instance/service.py
  trove/taskmanager/models.py
  trove/tests/unittests/instance/test_instance_controller.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Show replicas info for listing instances
  trove/instance/views.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Release note for adding replicas in list instance response
  releasenotes/notes/victoria-show-replicas-for-instance-list.yaml
Due: none

Support image type for guest image building
  doc/source/admin/building_guest_images.rst
  integration/scripts/functions_qemu
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support image type for guest image building
  doc/source/admin/building_guest_images.rst
  integration/scripts/functions_qemu
  integration/scripts/trovestack
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix building raw image
  integration/scripts/functions_qemu
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update location of file validation-rules.json
  doc/source/admin/datastore.rst
Due: none

Doc: Fix configuration API
  api-ref/source/parameters.yaml
  api-ref/source/samples/config-group-create-request.json
  api-ref/source/samples/config-group-create-response.json
Due: none

Correct some information in docs
  doc/source/install/install-ubuntu.rst
Due: none

Support backup strategy API
  .zuul.yaml
  api-ref/source/backup-strategy.inc
  api-ref/source/backups.inc
  api-ref/source/index.rst
  api-ref/source/parameters.yaml
  api-ref/source/samples/backup-strategy-create-request.json
  api-ref/source/samples/backup-strategy-create-response.json
  api-ref/source/samples/backup-strategy-list-response.json
  backup/main.py
  doc/source/user/backup-db-incremental.rst
  doc/source/user/backup-db.rst
  doc/source/user/index.rst
  releasenotes/notes/victoria-support-backup-strategy.yaml
  tox.ini
  trove/backup/models.py
  trove/backup/service.py
  trove/backup/views.py
  trove/common/api.py
  trove/common/apischema.py
  trove/common/cfg.py
  trove/common/exception.py
  trove/common/policies/backups.py
  trove/common/policies/base.py
  trove/common/strategies/storage/__init__.py
  trove/common/strategies/storage/base.py
  trove/common/strategies/storage/swift.py
  trove/db/sqlalchemy/mappers.py
  trove/db/sqlalchemy/migrate_repo/versions/045_add_backup_strategy.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/taskmanager/models.py
  trove/tests/api/instances_actions.py
  trove/tests/scenario/runners/guest_log_runners.py
  trove/tests/unittests/backup/test_backup_models.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix the slow start of mariadb container
  trove/guestagent/datastore/mysql_common/service.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Monkey patch original current_thread _active
  trove/cmd/__init__.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support online volume resize
  releasenotes/notes/victoria-support-online-resize.yaml
  trove/common/cfg.py
  trove/common/clients_admin.py
  trove/common/notification.py
  trove/guestagent/api.py
  trove/guestagent/datastore/manager.py
  trove/guestagent/volume.py
  trove/taskmanager/models.py
  trove/tests/api/instances_actions.py
  trove/tests/fakes/guestagent.py
  trove/tests/unittests/common/test_notification.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix oslo-config-generator command example in doc
  doc/source/admin/run_trove_in_production.rst
Due: none

Using same config with primary for replicas
  doc/source/user/backup-db.rst
  doc/source/user/create-db.rst
  doc/source/user/set-up-replication.rst
  doc/source/user/upgrade-datastore.rst
  trove/common/apischema.py
  trove/instance/models.py
  trove/instance/service.py
  trove/taskmanager/manager.py
  trove/tests/api/replication.py
  trove/tests/scenario/runners/replication_runners.py
  trove/tests/unittests/instance/test_instance_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Resize replicas (volume) together with primary
  api-ref/source/instance-actions.inc
  releasenotes/notes/victoria-resize-vollume-for-replication.yaml
  trove/instance/models.py
  trove/quota/quota.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Do not operate floating IP for relication cluster
  .zuul.yaml
  trove/taskmanager/manager.py
  trove/taskmanager/models.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support to rebuild instance by admin
  api-ref/source/instance-actions.inc
  api-ref/source/samples/instance-mgmt-action-rebuild-instance-request.json
  devstack/plugin.sh
  integration/scripts/functions_qemu
  releasenotes/notes/victoria-rebuild-instance.yaml
  trove/cmd/guest.py
  trove/common/apischema.py
  trove/common/cfg.py
  trove/extensions/mgmt/instances/service.py
  trove/guestagent/api.py
  trove/guestagent/common/guestagent_utils.py
  trove/guestagent/datastore/manager.py
  trove/guestagent/datastore/mysql_common/manager.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/volume.py
  trove/instance/models.py
  trove/taskmanager/api.py
  trove/taskmanager/manager.py
  trove/taskmanager/models.py
  trove/tests/api/instances_resize.py
  trove/tests/api/replication.py
  trove/tests/fakes/guestagent.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add instruction for upgrading trove guest agent
  doc/source/admin/index.rst
  doc/source/admin/upgrade-trove-guest-agent.rst
Due: none

Wait for instance after rebuild
  trove/taskmanager/models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Show instance access information
  api-ref/source/instances.inc
  trove/db/sqlalchemy/migrate_repo/schema.py
  trove/db/sqlalchemy/migrate_repo/versions/046_add_access_to_instance.py
  trove/instance/models.py
  trove/instance/service.py
  trove/instance/views.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support to update instance access
  api-ref/source/instances.inc
  api-ref/source/samples/instance-update-access-request.json
  releasenotes/notes/victoria-show-update-instance-access.yaml
  trove/common/apischema.py
  trove/common/neutron.py
  trove/instance/models.py
  trove/instance/service.py
  trove/instance/tasks.py
  trove/taskmanager/api.py
  trove/taskmanager/manager.py
  trove/taskmanager/models.py
  trove/tests/unittests/instance/test_instance_controller.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix functional test for instance access operation
  trove/instance/service.py
  trove/tests/api/configurations.py
  trove/tests/api/instances.py
  trove/tests/api/replication.py
  trove/tests/scenario/runners/replication_runners.py
  trove/tests/unittests/instance/test_instance_controller.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Allow to specify root password when building guest image
  integration/scripts/files/elements/root-passwd/README.rst
  integration/scripts/files/elements/root-passwd/post-install.d/99-setup
  integration/scripts/functions_qemu
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix access field for instances created before upgrade
  trove/instance/views.py
  trove/tests/unittests/instance/test_instance_views.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline
