Repository openstack/trove: changes, and which Zuul jobs are due for each by the changed paths.
All: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Path conditions:
  trove-functional-mysql: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-grenade: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-cassandra-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchdb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-couchbase-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mariadb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mongodb-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-mysql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-percona-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-postgresql-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-pxc-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-single: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-scenario-redis-multi: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^doc/.*$, ^releasenotes/.*$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/unittests/.*$
  trove-tox-fakemodetests: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-apiexamples: unless all of: ^.*\.rst$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/api/.*$, ^trove/tests/db/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$
  trove-tox-bandit-baseline: unless all of: ^.*\.rst$, ^.*\.txt$, ^api-ref/.*$, ^apidocs/.*$, ^contrib/.*$, ^doc/.*$, ^etc/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tools/.*$, ^trove/hacking/.*$, ^trove/tests/scenario/.*$, ^trove/tests/unittests/.*$

Extend cluster events
  releasenotes/notes/cluster-notifications-fd205f5f0148b052.yaml
  trove/cluster/models.py
  trove/common/notification.py
  trove/taskmanager/manager.py
  trove/tests/unittests/taskmanager/test_manager.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix tox debug mode
  lower-constraints.txt
  requirements.txt
  test-requirements.txt
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples

Add Redis datastore upgrade
  doc/source/user/index.rst
  doc/source/user/upgrade-cluster-datastore.rst
  doc/source/user/upgrade-datastore.rst
  trove/common/strategies/cluster/experimental/redis/api.py
  trove/common/strategies/cluster/experimental/redis/taskmanager.py
  trove/guestagent/datastore/experimental/redis/manager.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add releasenotes for Redis upgrade
  releasenotes/notes/redis-upgrade-63769ddb1b546cb9.yaml
Due: none

docs: fix build failure on html_last_updated_fmt
  api-ref/source/conf.py
Due: none

Remove the trove-tox-apiexamples CI job
  .zuul.yaml
  integration/scripts/trovestack
  integration/tests/examples/README
  integration/tests/examples/example_gen.sh
  integration/tests/examples/examples/client.py
  integration/tests/examples/examples/example_generation.py
  integration/tests/examples/examples/local.conf
  integration/tests/examples/gendoc.sh
  integration/tests/examples/local.conf
  integration/tests/examples/setup.py
  integration/tests/examples/tox.ini
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix the structure in releasenotes folder
  releasenotes/notes/deprecate-default_neutron_networks-84cd00224d6b7bc1.yaml
  releasenotes/notes/releasenotes/notes/fix-endpoint_type-option-not-used-with-single-tenant-f3e8b0f2807a026d.yaml
Due: none

Remove flavor operations from API doc
  api-ref/source/flavors.inc
  api-ref/source/index.rst
  api-ref/source/samples/db-flavors-by-id-request-json-http.txt
  api-ref/source/samples/db-flavors-by-id-response-json-http.txt
  api-ref/source/samples/db-flavors-by-id-response.json
  api-ref/source/samples/db-flavors-request-json-http.txt
  api-ref/source/samples/db-flavors-response-json-http.txt
  api-ref/source/samples/db-flavors-response.json
  doc/votes/channel_logging
Due: none

Enable service tenant deployment model by default in DevStack
  devstack/plugin.sh
  devstack/settings
  integration/scripts/conf/test_begin.conf
  integration/scripts/trovestack
  integration/scripts/trovestack.rc
  test-requirements.txt
  trove/guestagent/strategies/backup/mysql_impl.py
  trove/instance/models.py
  trove/tests/__init__.py
  trove/tests/api/backups.py
  trove/tests/api/configurations.py
  trove/tests/api/instances.py
  trove/tests/api/instances_actions.py
  trove/tests/api/mgmt/datastore_versions.py
  trove/tests/api/replication.py
  trove/tests/api/user_access.py
  trove/tests/config.py
  trove/tests/int_tests.py
  trove/tests/scenario/helpers/sql_helper.py
  trove/tests/scenario/runners/guest_log_runners.py
  trove/tests/scenario/runners/module_runners.py
  trove/tests/scenario/runners/root_actions_runners.py
  trove/tests/scenario/runners/test_runners.py
  trove/tests/unittests/backup/test_backupagent.py
  trove/tests/unittests/guestagent/test_backups.py
  trove/tests/util/__init__.py
  trove/tests/util/server_connection.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

trovestack guide
  apidocs/src/samples/db-get-default-instance-configuration-response-json.txt
  doc/source/admin/index.rst
  doc/source/admin/trovestack.rst
  integration/scripts/functions_qemu
  integration/scripts/trovestack
  trove/db/sqlalchemy/migrate_repo/versions/019_datastore_fix.py
  trove/db/sqlalchemy/migrate_repo/versions/040_module_priority.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update the outdated content
  doc/source/install/manual_install.rst
Due: none

Ignore new 'sys' mysql database by default
  trove/common/cfg.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix incorrect use of raise in template test
  trove/tests/unittests/common/test_template.py
Due: none

Use newer style mysql syntax for users/passwords
  trove/guestagent/common/sql_query.py
  trove/guestagent/datastore/mysql_common/service.py
  trove/guestagent/strategies/restore/mysql_impl.py
  trove/tests/unittests/guestagent/test_dbaas.py
  trove/tests/unittests/guestagent/test_query.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support renamed postgresql log functions
  trove/guestagent/datastore/experimental/postgresql/service.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Re-define the 'nics' parameter for creating database
  api-ref/source/parameters.yaml
Due: none

Fix Trove CI jobs
  bindep.txt
  devstack/plugin.sh
  devstack/settings
  integration/scripts/functions_qemu
  integration/scripts/trovestack
  roles/trove-devstack/tasks/main.yml
  tools/test-setup.sh
  trove/tests/scenario/groups/instance_upgrade_group.py
  trove/tests/scenario/runners/instance_upgrade_runners.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Add Python 3 Train unit tests
  tox.ini
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Update api-ref location
  doc/source/index.rst
  trove/taskmanager/models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Remove invalid assert state
  trove/tests/unittests/cluster/test_cluster_controller.py
Due: none

Add a designate V2 API dns driver
  releasenotes/notes/add-designate-v2-dns-driver-8d1be56ab2c71b83.yaml
  trove/common/cfg.py
  trove/dns/designate/driver.py
  trove/tests/unittests/domain-name-service/test_designate_driver.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Refactor variables in plugin.sh to simplify setting a datastore
  devstack/plugin.sh
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix 31-fix-init-script for Postgresql
  integration/scripts/files/elements/ubuntu-xenial-postgresql/install.d/31-fix-init-script
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support new mysql8.0 utf8mb4 character and collation sets
  trove/common/db/mysql/data.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

[train][goal] Run 'trove-tempest-ipv6-only' job
  .zuul.yaml
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix python3 failure inside guest when doing restore
  trove/guestagent/strategies/restore/mysql_impl.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support backup filtering
  trove/backup/models.py
  trove/backup/service.py
  trove/common/policies/backups.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Fix backup tests
  trove/tests/api/backups.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-bandit-baseline

Fix all_projects filtering for backups
  trove/backup/service.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Improve devmode=flase when building the image
  devstack/plugin.sh
  doc/source/admin/building_guest_images.rst
  doc/source/admin/guest_cloud_init.rst
  doc/source/admin/index.rst
  doc/source/admin/trovestack.rst
  integration/scripts/files/elements/guest-agent/README.rst
  integration/scripts/files/elements/guest-agent/extra-data.d/11-ssh-key
  integration/scripts/files/elements/guest-agent/install.d/50-user
  integration/scripts/files/elements/guest-agent/install.d/guest-agent-source-install/75-guest-agent-install
  integration/scripts/files/elements/guest-agent/install.d/guest-agent-source-install/guest-agent.service
  integration/scripts/files/elements/guest-agent/package-installs.yaml
  integration/scripts/files/elements/guest-agent/pkg-map
  integration/scripts/files/elements/guest-agent/post-install.d/12-ssh-key
  integration/scripts/files/elements/guest-agent/post-install.d/99-clean-apt
  integration/scripts/files/elements/no-resolvconf/README.rst
  integration/scripts/files/elements/ubuntu-mysql/pre-install.d/20-apparmor-mysql-local
  integration/scripts/functions_qemu
  integration/scripts/trovestack
  integration/scripts/trovestack.rc
  integration/tests/integration/int_tests.py
  integration/tests/integration/tests/api/instances_quotas.py
  run_tests.py
  trove/common/notification.py
  trove/extensions/mgmt/instances/service.py
  trove/instance/service.py
  trove/taskmanager/models.py
  trove/tests/api/backups.py
  trove/tests/api/flavors.py
  trove/tests/api/instances.py
  trove/tests/api/instances_actions.py
  trove/tests/api/instances_mysql_down.py
  trove/tests/int_tests.py
  trove/tests/scenario/runners/instance_create_runners.py
  trove/tests/scenario/runners/test_runners.py
  trove/tests/unittests/mgmt/test_datastores.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Filtering description for backup API
  api-ref/source/backups.inc
Due: none

Release note for backup filtering
  releasenotes/notes/train-01-backup-filtering-90ff6deac7b411e9.yaml
Due: none

Make volume type optional
  trove/common/apischema.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support python3 in guest agent
  contrib/trove-guestagent
  integration/scripts/files/elements/ubuntu-guest/install.d/15-trove-dep
  trove/guestagent/guest_log.py
  trove/guestagent/pkg.py
  trove/guestagent/strategies/replication/mysql_gtid.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Mark the instance ERROR when Nova VM creation fails
  trove/taskmanager/models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Support keypair in devstack
  devstack/plugin.sh
  devstack/settings
  doc/source/admin/secure_oslo_messaging.rst
  doc/source/contributor/design.rst
  doc/source/install/common_configure.txt
  doc/source/install/manual_install.rst
  etc/trove/trove-conductor.conf.sample
  etc/trove/trove-taskmanager.conf.sample
  integration/scripts/files/elements/ubuntu-guest/extra-data.d/62-ssh-key
  integration/scripts/files/elements/ubuntu-guest/install.d/62-ssh-key
  integration/scripts/functions_qemu
  integration/scripts/trovestack
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Minor change to image build guide
  doc/source/admin/building_guest_images.rst
  doc/source/admin/trovestack.rst
Due: none

Support management security group
  devstack/plugin.sh
  devstack/settings
  doc/source/admin/trovestack.rst
  integration/scripts/conf/test_begin.conf
  releasenotes/notes/train-02-management-security-group.yaml
  trove/common/cfg.py
  trove/instance/tasks.py
  trove/taskmanager/models.py
  trove/tests/scenario/runners/test_runners.py
  trove/tests/unittests/taskmanager/test_models.py
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Improve image build
  integration/scripts/files/elements/guest-agent/package-installs.yaml
  integration/scripts/files/elements/ubuntu-xenial-mysql/install.d/30-mysql
Due: trove-functional-mysql, trove-grenade, trove-scenario-cassandra-single, trove-scenario-cassandra-multi, trove-scenario-couchdb-single, trove-scenario-couchbase-single, trove-scenario-mariadb-single, trove-scenario-mariadb-multi, trove-scenario-mongodb-single, trove-scenario-mongodb-multi, trove-scenario-mysql-single, trove-scenario-mysql-multi, trove-scenario-percona-multi, trove-scenario-percona-single, trove-scenario-postgresql-single, trove-scenario-postgresql-multi, trove-scenario-pxc-single, trove-scenario-pxc-multi, trove-scenario-redis-single, trove-scenario-redis-multi, trove-tox-fakemodetests, trove-tox-apiexamples, trove-tox-bandit-baseline

Modify CreateInstanceTest setUp to initially be OK
  trove/tests/unittests/instance/test_instance_models.py
Due: none
